@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


.lovelight {
  font-family: "Love_light", system-ui, sans-serif;
}

.test {
  font-family: 'Sixtyfour', sans-serif;
}

.slide-up{
  animation: slideUp .6s ease;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Add this style to center the highlighted item */
.highlighted {
  /* justify-content: center; Horizontally center the item */
  transform: translateX(-50%); /* Adjust if needed based on your design */
  /* margin-left: -50%; */
  /* Add other styles for highlighting, like underline or different color */
  text-decoration: underline;
}

.move-center{
  transform: translateX(-50%); /* Adjust if needed based on your design */
  background-color: yellow;
}